@import './assets/styles/variables';

@font-face {
  font-family: Helvetica;
  src: url('./assets/styles/Helvetica-Bold.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: 500;
  src: url('./assets/styles/HelveticaNeue-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background: $bgColor;
  font-family: sans-serif;
  padding: 0 12.5px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
